[Desktop Entry]
Version=1.0
Type=Application
Name=Local Password
GenericName=Password Generator
Comment=Generate a password on this computer and copy it
Exec=local-password
Icon=local-password
Terminal=false
Categories=Utility;
StartupNotify=true
